extends layouts/main
include mixins/videoPlayer 

block content
    .vidoe-detail__container
        +videoPlayer({
            src:clickedVideo.fileUrl
        })
        .video__author
                |Uploaded by 
                a(href=routes.userDetail(clickedVideo.creator.id))=clickedVideo.creator.name
        .video__info
            h5.video__title=clickedVideo.title 
            if clickedVideo.views === 1
                span.video__views 1 view
            else
                span.video__views #{clickedVideo.views} views
            p.video__description=clickedVideo.description
        .video__comments 
            if clickedVideo.comments.length === 1
                span.video__comment-number 1 comment 
            else 
                span.video__comment-number #{clickedVideo.comments.length} comments
        .video__edit
            if loggedUser
                if loggedUser && clickedVideo.creator.id === loggedUser.id
                    a(href=routes.editVideo(clickedVideo.id))
                        button.editVideoBt Edit video