extends layouts/main

block content
    .video__player 
        video(src=`/${clickedVideo.fileUrl}`) 
    .video__info
        a(href=routes.editVideo(clickedVideo.id)) Edit Video
        h5.video__title=clickedVideo.title 
        span.video__views=clickedVideo.views 
        p.video__description=clickedVideo.description